
{% extends 'base.html'%}

{% block section %}

  {% include 'navbar.html' %}

  <div class="img-container">
      <div class="text">HUGO IRWANTO</div>
  </div>

    <section id="experience">
        <h2 class="experience-title">What I've done so far</h2>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class=".img-thumbnail w-50 mx-auto d-block experience-images" id="fasilkom-image" src="../static/images/logo_fasilkom.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>University of Indonesia</h5>
                <h6>Undergraduate of Computer Science Major,  2019-2023</h6>
                <p class="experience-text">Faculty of Computer Science was the places where I studying now. I was decided to change my major to Computer Science because I like code and create new tech-stuff that can be useful for people around the world. Simply, I have a dream to have a superpowers, here in Faculty of Computer Science, I could reach my dream by learning code.</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class=".img-thumbnail w-50 mx-auto d-block experience-images" id="noah-image" src="../static/images/logo_rumbel_noah.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Rumbel NOAH</h5>
                <h6>Elementary School Teacher, Feb-Apr 2019</h6>
                <p class="experience-text">Rumbel NOAH is also located in Jalan Jagakarsa, Jakarta Selatan. I was work here as Elementary School Tutor. I taught Mathematics and Basic Science here.</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class=".img-thumbnail w-50 mx-auto d-block experience-images" src="../static/images/logo_math.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Yeni Erwin Course</h5>
                <h6>Mathematics Tutor, Feb-Apr 2019</h6>
                <p class="experience-text">Yeni Erwin Course is located in Jalan Jagakarsa, Jakarta Selatan I was work here as Mathematics Tutor. My students varied widely from second graders - ninth graders.</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class=".img-thumbnail w-50 mx-auto d-block experience-images" src="../static/images/logo_tosakka15th.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5 id="tossaka-text">Tossaka 15th</h5>
                <h6>Staff of Exam Inviligator, Jan-Feb 2019 </h6>
                <p class="experience-text">Tossaka 15th is an stimulation for high school students who want to test his/her preparation for the selection exam into university. I was volunteering here as an exam invigilator.</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class=".img-thumbnail w-50 mx-auto d-block experience-images" id="olim-image" src="../static/images/logo_macan_olim_ui.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Olimpiade UI 2018</h5>
                <h6>Staff of Equipment & Logistics, Aug-Sep 2019</h6>
                <p class="experience-text">This is my very first volunteering experience in the college. Olimpiade UI is the largest olympic competition in University of Indonesia. The competitions are variety, start from football, soccer, volleyball, basketball, swimming, taekwondo,  hockey indoor, tennis, and table tennis. I was an equipment and logistic staff before so my job is setting up places that used for competitions.</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class=".img-thumbnail w-50 mx-auto d-block experience-images" id="fmipa-image" src="../static/images/logo_fmipa.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>University of Indonesia</h5>
                <h6>Undergraduate of Geophysics Major, Aug 2018 - June 2019 </h6>
                <p class="experience-text">I took Geophysics major in University Indonesia before, then I realised this major is not my passion. So, I decided to drop out.</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class=".img-thumbnail w-50 mx-auto d-block experience-images" src="../static/images/logo_sman78.jpeg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>78 Senior High School</h5>
                <h6>Faculty of Mathematics and Science, July 2016 - June 2018</h6>
                <p class="experience-text">I was studied at 78 Senior High School Jakarta. In the second semester, I decided to join Acceleration class. Since I studied for only 2 years in high school, I carried a lot of workload to graduate. Thanks to this, I could learn more about manage my time.</p>
            </div>


        </div>
    </section>

    <section id="blog">
        <h2 class="blog-title">Visit my blog</h2>

        <div class="card-deck blog-section">
            <div class="card">
              <a href="https://hblok23.blogspot.com/2018/12/gempa-di-mata-masyarakat-indonesia.html"><img class="card-img-top" src="../static/images/gempa.jpg" alt="Card image cap"></a>
              <div class="card-body">
                <a href="https://hblok23.blogspot.com/2018/12/gempa-di-mata-masyarakat-indonesia.html"><h5 class="card-title">Gempa di Mata Masyarakat Indonesia</h5></a>
                <p class="card-text">Apa saja yang masyarakat Indonesia pikirkan tentang gempa? Mengapa gempa di Indonesia sering memakan kerugian yang besar?</p>
              </div>

            </div>
            <div class="card">
              <a href="https://hblok23.blogspot.com/2018/12/geotermal-sebagai-sumber-energi.html"><img class="card-img-top" src="../static/images/geothermal.jpg" alt="Card image cap"></a>
              <div class="card-body">
                <a href="https://hblok23.blogspot.com/2018/12/geotermal-sebagai-sumber-energi.html"><h5 class="card-title">Geotermal sebagai Sumber Energi Terbarukan</h5></a>
                <p class="card-text">Apakah benar geotermal merupakan energi terbarukan? Cari tahu lebih lanjut disini.</p>
              </div>

            </div>
            <div class="card">
              <a href="https://hblok23.blogspot.com/2018/12/akibat-terlalu-sering-memakan-makanan.html"><img class="card-img-top" src="../static/images/kaleng.jpg" alt="Card image cap"></a>
              <div class="card-body">
                <a href="https://hblok23.blogspot.com/2018/12/akibat-terlalu-sering-memakan-makanan.html"><h5 class="card-title">Akibat Terlalu Sering Memakan Makanan Kaleng</h5></a>
                <p class="card-text">Makanan kaleng merupakan makanan dengan harga terjangkau serta harga yang murah. Namun, apakah makanan kaleng ini memiliki bahaya bagi kesehatan tubuh kita?</p>
              </div>

            </div>
          </div>


    </section>


    
</body>
</html>

{% endblock %}